/*Home Page*/

/*Logo*/

.logo {
    margin: 5% auto;
    width: 100%;
}

.logo img {
    display: block;
    margin: auto;
    width: 35%;
}

/*Navigation*/

nav ul {
    background-color: #B07F88;
    width: 100%;
    overflow: hidden;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 4%;
    text-align: center;
}

nav ul li a {
    display: inline;
    text-decoration: none;
    color: white;
    text-align: center;
    font-family: "hypatia-sans-pro", sans-serif;
}

a:active {
    color: lightgray;
}

.photo {
    width: 100%;
    margin: 2% auto;
    display: block;
}

.photo img {
    width: 95%;
    display: block;
    margin: 0 auto;
}

.welcome {
    width: 100%;
    text-align: center;
    font-family: "hypatia-sans-pro", sans-serif;
    font-size: 1.5em;
    line-height: 1.4em;
    color: #B07F88;
    font-style: normal;
    margin-bottom: 7%;
}

/*About Me*/

.title {
    width: 100%;
    display: block;
    text-align: center;
    margin: 5% auto;
}

h2 {
    font-family: "abril-text", serif;
    font-style: italic;
    color: #B07F88;
}

.copy {
    width: 100%;
    margin: 0 auto;
}

p {
    margin: 3% 5%;
    font-family: "hypatia-sans-pro", sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    color: #2a2a2a;
}

.copy2 {
    margin-bottom: 7%;
}

.copy2 p {
    margin: 3% 5%;
    font-family: "hypatia-sans-pro", sans-serif;
    font-size: 1em;
    line-height: 1.2em;
    color: #2a2a2a;
    text-align: center;
}

.copy2 p a {
    font-family: "abril-text", sans-serif;
    font-style: italic;
    display: inline;
    text-decoration: none;
    color: #B07F88;
}

.photo2 {
    width: 100%;
    margin: 0 auto;
    display: block;
}

.photo2 img {
    width: 95%;
    display: block;
    margin: 5% auto 5%;
}

.contact {
    margin: 7% 5%;
    font-family: "hypatia-sans-pro", sans-serif;
    font-size: 1.1em;
    line-height: 1.5em;
    align-content: center;
    padding: 0;
}

.contact p {
    margin: 15px 0;
    font-family: "hypatia-sans-pro", sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    color: #2a2a2a;
}

.contact p a {
    text-decoration: none;
    color: #2a2a2a;
}

.left {
    width: 32%;
    float: left;
    text-align: right;
    font-weight: 700;
    margin-left: auto;
    margin-right: 0;
    padding: 0;
}

.right {
    width: 63%;
    float: right;
    text-align: left;
    margin-left: 0;
    margin-right: auto;
    padding: 0;
}

.welcome2 {
    width: 100%;
    text-align: center;
    font-family: "hypatia-sans-pro", sans-serif;
    font-size: 1.5em;
    line-height: 1.4em;
    color: #B07F88;
    font-style: normal;
    clear: both;
    margin-bottom: 7%;
    margin-top: 55%;
}